modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0", "google-mail:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 8083
externalPort = 3003

[[ports]]
localPort = 21691
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51Ti8KrGZDmOhO7Wd09F8vQdj0iBmw48wjryW3E4lDKGp6M3ROvWQQZtaaspSRkcsdGQsiI4mZBSWbu1WP16NGOYZ00idrgkZlm"
VAPID_PUBLIC_KEY = "BJeWXrD6cZSjhy2IKJVtRfi9_LilC2eB6E6hwLy3AyqemIvJB8irEH5qnJDXEMAbUOlyryspZ0zxyn60oRgOJIE"
VAPID_PRIVATE_KEY = "hW4H5I0jQPVjVNF9HO4IMVRB69Rnqa0qDKyLFG7nl6E"
VAPID_EMAIL = "mailto:appsuppor2026@gmail.com"
